body {
    background-color: #2B2B2D;
    display: flex;
    justify-content: center;
    align-items: center;
}


#navbar {
    background-color: rgb(199, 199, 199);
}

#search {
    text-align: center;
    margin-top: 300px;
    border-radius: 100px;
}

#input {
    border-radius: 100px;
    border-width: 0px;
    height: 50px;
    width: 600px;
    background: #4A4E54;
}
.button {
    text-align: center;
    flex-direction: column;

}

.container{
    align-items: center;
}