body {
    background-color: #272728;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 20px;
}

#title {
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 30px;
    color: white;
    font-family: 'Product Sans', sans-serif;
}

#input {
    border-radius: 100px;
    border-width: 0px;
    height: 50px;
    width: 600px;
    background: #4A4E54;
    padding-left: 20px;
    color: white;
    font-size: large;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 6px;
    border: 1px solid #3b3b3b;
    width: 160px;
    height: 30px;
    font-size: 14px;
    background-color: #3b3b3b;
    font-family: 'Product Sans', sans-serif;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.button:hover {
    border: 1px solid white;
}