body {
    background-color: #272728;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 20px;
}
#container2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}
#title {
    display: flex;
    justify-content: space-evenly;
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 30px;
    color: white;
    font-family: 'Product Sans', sans-serif;
}

#input {
    border-radius: 100px;
    border-width: 0px;
    height: 50px;
    width: 600px;
    background: #4A4E54;
    padding-left: 20px;
    color: white;
    font-size: large;
}

.button {
    border-radius: 6px;
    border: 1px solid #3b3b3b;
    width: 160px;
    height: 30px;
    font-size: 14px;
    background-color: #3b3b3b;
    font-family: 'Product Sans', sans-serif;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.button:hover {
    border: 1px solid white;
}
a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0 15px;
}
a:hover {
    text-decoration: underline;
}
.advanced_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 50px;
}
.advanced_container2{
    display: flex;
    justify-content: space-between;
}
.input2 {
    border-radius: 3px;
    border-width: 0px;
    height: 30px;
    width: 600px;
    background: #202020;
    padding-left: 20px;
    color: white;
    font-size: large;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}
.title2 {
    font-size: 100px;margin: 6px 10px 10px 10px;
    color: white;
    font-family: 'Product Sans', sans-serif;
    font-size: 18px;
}